{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block search_title %} {% trans "change password" %} {% endblock search_title %}
{% block page_title %}change your password{% endblock page_title %}
{% block main %}
    <br><br><br><br>
    <div class="col-md-12">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">Change Password Form</h3>
            </div>
            <form method="POST" action="{% url 'password_change_done' %}" role="form">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{form.oldpassword|as_crispy_field}}
                            </div>
                        </div>                                 
                        <div class="col-6">
                            <div class="form-group">
                                {{form.password1|as_crispy_field}}
                            </div>
                        </div>                                 
                        <div class="col-6">
                            <div class="form-group">
                                {{form.password2|as_crispy_field}}
                            </div>
                        </div>                                 
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}