{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block css %}<link rel="stylesheet" href="{% static 'css/cart.css' %}">{% endblock css %}
{% block title %} {% trans "cart" %} {% endblock title %}
{% block content %}
    <div class="cart_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container"> 
                            <div class="cart_title">{% trans "Shopping Cart" %}<small> ({{cart|length}} {% trans "item in your cart" %}) </small></div>
                            <div class="cart_items">
                                <ul class="cart_list">
                                    {% for item in cart %}                                                                                            
                                        <li class="cart_item clearfix">         
                                            <div style='width: 10%;' class="cart_item_image"><img style=' margin-top: 23px;' src="{{item.product_obj.cover.url}}" alt="fff"></div>     
                                            <div class="cart_item_info d-flex flex-md-row flex-column justify-content-around"> 
                                                <a class='text-danger' style='margin-top: 31px;' href="{% url 'remove_cart' item.product_obj.id %}"><i class="fa fa-times fa-2x"aria-hidden="true"></i></a>                                                                                             
                                                <div style='width:17%;' class="cart_item_name cart_info_col">
                                                    <div class="cart_item_title">{% trans "Name" %}</div>
                                                    <div class="cart_item_text mt-3">{{item.product_obj.title}}</div>
                                                </div>
                                                <div class="cart_item_quantity cart_info_col ">
                                                    <div style='text-align: center;' class="cart_item_title">{% trans "Quantity" %}</div>
                                                    <form class='d-flex mt-2 ' action="{% url 'add_cart' item.product_obj.id %}" method='POST'>
                                                        {% comment %} use ajax to increase/decrease product to cart {% endcomment %}
                                                        {% csrf_token %}
                                                        <div class="input-group-btn">
                                                            {% comment %} demoInput-{{item.product_obj.id}} is argument that sent to quantity.js {% endcomment %}
                                                            <a onclick= "decrement('demoInput-{{item.product_obj.id}}')" class="btn btn-warning btn-minus" >
                                                                <i class="fa fa-minus"></i>
                                                            </a>
                                                        </div>
                                                        {% comment %} demoInput-{{item.product_obj.id}} is id to changi in quantity.js {% endcomment %}
                                                        <input id='demoInput-{{item.product_obj.id}}' name="quantity" type="number" class=" form-control bg-dark text-white text-center" min='1' max='30' value="{{item.quantity}}">
                                                        <div class="input-group-btn mr-3">
                                                            {% comment %} demoInput-{{item.product_obj.id}} is argument that sent to quantity.js {% endcomment %}
                                                            <a onclick= "increment('demoInput-{{item.product_obj.id}}')" class="btn btn-warning btn-plus">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </div>
                                                        <div class="input-group-btn">
                                                            <button type='submit' class="btn btn-info">
                                                                {% trans "Update Cart" %}
                                                            </button>
                                                        </div>
                                                        {{item.product_update_number_form.inplace}}
                                                    </form>
                                                </div>
                                                <div class="cart_item_price cart_info_col">
                                                    <div class="cart_item_title">{% trans "Price" %}</div>
                                                    <div class="cart_item_text mt-3">{{item.product_obj.price|intcomma}}</div>
                                                </div>
                                                <div class="cart_item_total cart_info_col">
                                                    <div class="cart_item_title">{% trans "Total" %}</div>
                                                    <div class="cart_item_text mt-3">{{item.total_price|intcomma}}</div>
                                                </div>                                             
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="order_total">
                                <div class="order_total_content text-md-right">
                                    <div class="order_total_title">{% trans "Order Total" %}:</div>
                                    <div class="order_total_amount">{{cart.total_price|intcomma}}</div>
                                </div>
                            </div>
                       
                        <div class="cart_buttons"> <a href="{% url 'listproduct' %}" class="btn btn-primary text-white addtocart">{% trans "Add more to Cart" %}  <i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}<script src="{% static 'js/quantity.js' %}"></script>{% endblock js %}