{% extends 'base.html' %}
{% load ratings %}
{% load static %}
{% load social_share %}
{% load comment_tags %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load i18n %}

   {% block title %}{{detailproduct.title}} {% trans "detail" %} {% endblock title %}
    <!-- Page Header Start -->
    {% block content %}
    <br><br>
        {% if messages %}
            <br><br><br><br><br>
            <div class='container'>
                <ul class="messages">
                    {% for message in messages %}
                    <li class="alert alert-{{ message.tags }} d-flex justify-content-center">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %} 
        <div class="container-fluid py-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 pb-5">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner border">
                            <div class="carousel-item active">
                                <img style='width:100%;height:400px;' class="img-fluid" src="{{detailproduct.cover.url}}" alt="product cover">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-7 pb-5">
                    {% if detailproduct.stock == 'have' %}
                        <h3 class="font-weight-semi-bold">{{detailproduct.title}}</h3>
                        <h3 class="font-weight-semi-bold mb-4">${{detailproduct.price|intcomma}}</h3>
                    {% else %}
                        <h3 style='text-decoration-line:line-through;text-decoration-color:red;text-decoration-thickness:4px;' class="font-weight-semi-bold">{{detailproduct.title}}</h3>
                        <h3 style='color:red;' class="font-weight-semi-bold mb-4">{% trans "Sorry But We Finish This Now !" %}</h3>
                    {% endif %}
                    <p class="mb-4">{{detailproduct.description|safe|linebreaks}}</p>
                    <div class="d-flex mb-3">
                        <p class="text-dark font-weight-medium mb-0 mr-3">{% trans "Sizes" %}:</p>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-1" name="size">
                                <label class="custom-control-label" for="size-1">XS</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-2" name="size">
                                <label class="custom-control-label" for="size-2">S</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-3" name="size">
                                <label class="custom-control-label" for="size-3">M</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-4" name="size">
                                <label class="custom-control-label" for="size-4">L</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-5" name="size">
                                <label class="custom-control-label" for="size-5">XL</label>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex mb-4">
                        <p class="text-dark font-weight-medium mb-0 mr-3">{% trans "Colors" %}:</p>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-1" name="color">
                                <label class="custom-control-label" for="color-1">{% trans "Black" %}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-2" name="color">
                                <label class="custom-control-label" for="color-2">{% trans "White" %}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-3" name="color">
                                <label class="custom-control-label" for="color-3">{% trans "Red" %}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-4" name="color">
                                <label class="custom-control-label" for="color-4">{% trans "Blue" %}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-5" name="color">
                                <label class="custom-control-label" for="color-5">{% trans "Green" %}</label>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 100%;">
                            <form class='d-flex' action="{% url 'add_cart' detailproduct.id %}" method='POST'>
                                {% comment %} use ajax to increase/decrease product to cart {% endcomment %}
                                {% csrf_token %}
                                <div class="input-group-btn">
                                    <a onclick= "decrement('demoInput-{{detailproduct.id}}')" class="btn btn-warning btn-minus" >
                                    <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                                <input id='demoInput-{{detailproduct.id}}' name="quantity" type="number" class=" form-control bg-dark text-white text-center" min='1' max='30' value="1">
                                <div class="input-group-btn mr-3">
                                    <a onclick= "increment('demoInput-{{detailproduct.id}}')" class="btn btn-warning btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="input-group-btn">
                                    <button type='submit' class="btn btn-success">
                                        {% trans "Add to Cart" %}
                                    </button>
                                </div>
                            </form>
                        </div>                      
                    </div>
                    <ul class='post-tags'>
                        {% if is_liked %}
                            <li><a onclick= "like('{{detailproduct.id}}')" ><i id ='like' style='color:red' class= 'fa fa-heart'></i></a> <span id ='count'>{{detailproduct.likes.all.count}}</span></li> 
                            {% comment %} related_name from post to get number of likes {% endcomment %}
                        {% else %}
                            <li><a onclick= "like('{{detailproduct.id}}')" ><i id ='like' style='color:red' class= 'fa fa-heart-o'></i></a> <span id ='count'>{{detailproduct.likes.all.count}}</span></li>
                        {% endif %}

                        {% if is_bookmark %}
                            <li><a href="{% url 'saveproduct' detailproduct.id %}" ><i id ="bookmark" class='fa fa-bookmark'></i></a> <span id ='count'>{{detailproduct.bookmark.all.count}}</span></li>
                        {% else %}
                            <li><a href="{% url 'saveproduct' detailproduct.id %}" ><i id ="bookmark" class='fa fa-bookmark-o'></i></a> <span id ='count'>{{detailproduct.bookmark.all.count}}</span></li>
                        {% endif %}
                    </ul>
                    {% ratings detailproduct %}
                    <br>
                    <p class='badge badge-dark'>{% trans "views" %}</p> : {{detailproduct.hits.count}}
                    <div class="d-flex pt-2">
                        <p class="text-dark font-weight-medium mb-0 mr-2">{% trans "Share on" %}:</p>
                        <div class="d-inline-flex">                           
                            {% post_to_twitter "New Song: {{detailproduct.title}}. Check it out!" "object_or_url" '<i class="fa fa-twitter fa-lg"></i>' %}
                            <span class='px-2'></span>
                            {% post_to_whatsapp "object_or_url" '<i class="fa fa-whatsapp fa-lg " aria-hidden="true"></i>' %}
                            <span class='px-2'></span>
                            {% post_to_telegram "New Song: {{detailproduct.title}}" "object_or_url" '<i class="fa fa-telegram fa-lg" aria-hidden="true"></i>' %}
                            <span class='px-2'></span>
                            {% post_to_facebook "object_or_url" '<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>' %}
                            <span class='px-2'></span>
                            {% post_to_linkedin "object_or_url" 'fa fa-linkdin fa-lg'  %}
                        </div>
                        <br><br>
                    </div>
                    {% if request.user.is_superuser %}
                        <a class='btn btn-primary' href="{% url 'updateproduct' detailproduct.id %}">{% trans "Edit" %}</a>
                        <a class='btn btn-danger' href="{% url 'deleteproduct' detailproduct.id %}">{% trans "Delete" %}</a>
                    {% elif detailproduct.owner == request.user %}
                        <a class='btn btn-primary' href="{% url 'updateproduct' detailproduct.id %}">{% trans "Edit" %}</a>
                    {% endif %}
                </div>
            </div>
            
            <div class="row px-xl-5">
                <div class="col">
                    <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">{% trans "Description" %}</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">{% trans "Reviews" %} ({% get_comments_count detailproduct user %})</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">{% trans "Product Description" %}</h4>
                            <p>{{detailproduct.description|safe|linebreaks}}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    {% include_bootstrap %}
                                    <h4 class="mb-4">{% get_comments_count detailproduct user %} {% trans "review for" %} "{{detailproduct.title}}"</h4>
                                    <div class="media mb-4">
                                        <ul>
                                            {% render_comments detailproduct request %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function set_value(id){
                document.getElementById('parent_id').value=id;
                window.location.href='#write_comment'
            }
        </script>
        
    {% endblock content %}
    {% block js %}<script src="{% static 'js/quantity.js' %}"></script>{% endblock js %}
    <!-- Shop Detail End -->

    <!-- Products Start -->
   