{% extends 'base.html' %}
{% load ratings %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block title %}{% trans "Sixteen Clothing HTML Template" %}{% endblock title %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    {% block content %}
    
      <div class="banner header-text">
        <div class="owl-banner owl-carousel">
          <div class="banner-item-01">
            <div class="text-content">
              <h4>{% trans "Best Offer" %}</h4>
              <h2>{% trans "New Arrivals On Sale" %}</h2>
            </div>
          </div>
          <div class="banner-item-02">
            <div class="text-content">
              <h4>{% trans "Flash Deals" %}</h4>
              <h2>{% trans "Get your best products" %}</h2>
            </div>
          </div>
          <div class="banner-item-03">
            <div class="text-content">
              <h4>{% trans "Last Minute" %}</h4>
              <h2>{% trans "Grab last minute deals" %}</h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class='popular_last'>
        <h2>{% trans "most viewed post in month" %} </h2>
        <hr>
        {% for product in lastproduct %}
          <div class='text-center'>
            {% trans "post" %} : <a class='badge badge-warning ' href="{% url 'detailproduct' product.id %}">{{product.title}}</a>
          </div>
        {% endfor %}
      </div>
      <div class='rated_product-home'>
        <h2>{% trans "most Rated post in month" %} </h2> 
        <hr>
        {% for rated in rated_product %}
          <div class='text-center rated-center'>
            {% trans "post" %} : <a class='badge badge-warning' href="{% url 'detailproduct' rated.id %}">{{rated.title}}</a>
          </div>
        {% endfor %}
      </div>
      <div class='hot_product-home'>
        <h2>{% trans "Hot Post in Month" %} </h2>
        <hr>
        {% for hot in hot_product %}
          <div class='text-center rated-center'>
            {% trans "post" %} : <a href="{% url 'detailproduct' hot.id %}" class='badge badge-warning'>{{hot.title}}</a>           
          </div>
        {% endfor %}
      </div>
      <!-- Banner Ends Here -->
      
      <div class="latest-products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              
              <div class="section-heading text-center">
                <h2 style='color:red;font-weight:800;' class='latest_pro'>{% trans "Latest Products" %}</h2>
                
              </div>
            </div>
            <div class="col-md-4">           
              <h2>{% trans "Filter By Stock" %} </h2>
              <hr>
              <form method='GET' action="{% url 'filterproduct' %}">
                <div style='display: inline-block;vertical-align: top;background: #eee;text-align: left;box-shadow: 0 1px 4px rgb(0 0 0);padding: 30px;width: 305px;height: 210px;margin: 10px;' class="control-group">
                  <h3 style='text-align:center;'>{% trans "Select stock" %}</h3>
                  <div style='margin-bottom: 15px;width: 100%;margin-top: 20px;text-align: center;' class="select">
                    <select name='f' style='display: inline-block;width: 100%;cursor: pointer;padding: 10px 15px;border-radius: 7px;background: #e6e6e6;color: #7b7b7b;border:groove 1px;'>
                      <option style='color:black;' >{% trans "in_order" %}</option>
                      <option style='color:black;' >{% trans "have" %}</option>
                      <option style='color:black;' >{% trans "empty" %}</option>
                    </select>
                  </div>
                </div>
                <br>
                  <button style='height: 39px;margin-top:10px;margin-right:-7px;' class="btn btn-primary ">{% trans "Find" %}</button>
              </form>
                {% comment %} <div class='form-check form-check-inline'>
                  <label for="empty">empty</label>
                  <input style='margin-left:3px;' type="radio" id="empty" name="f" value="empty">
                </div>
                <div class='form-check form-check-inline'>
                  <label for="have">have</label>
                  <input style='margin-left:3px;' type="radio" id="have" name="f" value="have">
                </div>
                <div class='form-check form-check-inline'>
                  <label for="in_order">in_order</label>
                  <input style='margin-left:3px;' type="radio" id="in_order" name="f" value="in_order">
                </div> {% endcomment %}
                <br><br>
              <h2>{% trans "Filter By price" %} </h2>
              <hr>
              <form class='form-inline' method='GET' action="{% url 'filterbyprice' %}">
                <section id="content">
                  <h3 class='text-left'>{% trans "What is your budget?" %}</h3>
                  <div class="cube">
                    <div class="a"></div>
                    <div class="b"></div>
                    <div class="c"></div>
                    <div class="d"></div>
                    <div id="slider-range-min"></div>
                  </div>
                  <input name='vol' type="text" id="amount"/>
                </section>             
                  <button style='height: 39px;margin-top:10px;margin-right:-7px;margin-bottom: 78px;' class="btn btn-primary ">{% trans "Search" %}</button>
              </form>
            </div>
            {% for last in lastproduct %}
              <div class="col-md-4">
                <div class="product-item">
                  <a href="#"><img class='img-fluid' style='width:100%;height:400px;' src="{{last.cover.url}}" alt="product cover"></a>
                  <div class="down-content">
                    <a href="{% url 'detailproduct' last.id %}"><h3 class='text-dark'>{{last.title}}</h3></a>
                    {% if last.stock == 'have' %}
                      <h6>${{last.price|intcomma}}</h6>
                      <span class='btn btn-success' style='bottom:65px;color:white;'>{{last.stock}}</span>
                    {% else %}
                      <span style='color: #ff0505;font-size: larger;bottom: 252px; margin-right: -18px;'> {% trans "now we finish that!" %} </span>
                    {% endif %}
                    <p style='font-size:smaller;'>{{last.description|striptags|truncatechars:10}}</p>
                    <span style='bottom:183px;' >{{last.date_time_create|naturaltime}}</span>
                    <span style='bottom: 130px;font-size: 20px;color:black;' >{% trans "seller" %}: <a class='badge badge-primary' href="{% url 'user_post' last.owner.id %}">{{last.owner.username}}</a></span>
                    
                    {% ratings last %}
                    <br>
                    <p class='badge badge-dark'>{% trans "views" %}</p> : {{last.hits.count}}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      

      <div class="best-features">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>{% trans "About Sixteen Clothing" %}</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-content">
                <h4>{% trans "Looking for the best products?" %}</h4>
                <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This template</a> is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow" href="https://templatemo.com/contact">{% trans "Contact us" %}</a> {% trans "for more info" %}.</p>
                <ul class="featured-list">
                  <li><a href="#">{% trans "Lorem ipsum dolor sit amet" %}</a></li>
                  <li><a href="#">{% trans "Consectetur an adipisicing elit" %}</a></li>
                  <li><a href="#">{% trans "It aquecorporis nulla aspernatur" %}</a></li>
                  <li><a href="#">{% trans "Corporis, omnis doloremque" %}</a></li>
                  <li><a href="#">{% trans "Non cum id reprehenderit" %}</a></li>
                </ul>
                <a href="{% url 'aboutus' %}" class="filled-button">{% trans "Read More" %}</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img style='width:100%;height:auto;' class='img-fluid' src="{% static 'images/feature-image.jpg' %}" alt="our work image">
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock content %}  
    
    