{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block search_title %} {% trans "create product" %} {% endblock search_title %}
{% block page_title %}{% trans "profile" %}{% endblock page_title %}
{% block main %}
    <br><br><br><br>
    <div class="col-md-12"></div>
        <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title mb-0 float-left"><strong>{{request.user.username}} {% trans "profile" %}</strong></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form enctype="multipart/form-data" method="POST" action="" >
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                {{form.username|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.first_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.last_name|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.avatar|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.email|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.date_joined|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.age|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.is_staff|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                {{form.is_author|as_crispy_field}}
                            </div>
                        </div>
                            <div class="col-12 mt-2">
                                <div style='background-color:#ffa952;' class="form-group text-center">
                                    <h5 style='color:#3b4a6b;'>{% trans "for change your password please" %}</h5><strong ><a class='text-dark' href="{% url 'account_set_password' %}">{% trans "click HERE" %}</a></strong>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-info">{% trans "Submit" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}